---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: coordronator
name: coordronator
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "D:/PHP/Laravel/Lumen/CoorDronator"
      to: "/home/vagrant/coordronator"

sites:
    - map: coordronator.app
      to: "/home/vagrant/coordronator/public"

databases:
    - coordronator

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
